ros_ws/build
ros_ws/install
ros_ws/log
ros_ws/.cache
ros_ws/src/aim_algo/include/spdlog/
ros_ws
.config
yolo8_prototype/data_preparation
yolo8_prototype/src/dataset
yolo8_prototype/src/runs
yolo8_prototype/src/yolo11n.pt
